@import url('https://fonts.googleapis.com/css?family=Montserrat:wght@700&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    background: url("https://www.morosystems.cz/wp-content/themes/morosystems/static/img/illust/intro/about-us.jpg") rgba(0, 0, 0, 0.7);
    background-size:cover;
    background-blend-mode: multiply;
}

input {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
}

.container {
    table-layout: fixed;
    margin: auto;
    width: 50%;
    padding: 10px;
}

.vertical {
    margin-top: 15%;
}

.styled-table {
    border-collapse: collapse;
    table-layout: fixed;
    margin: auto;
    width: 100%;
}

.styled-table thead tr {
    background-color: #fcbf00;
    text-align: center;
    font-weight: 900;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
    background-color: #f3f3f3;
    text-align: center;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #fcbf00;
}

.styled-table button {
    font-family: inherit;
}

.block {
    margin: auto;
    max-width: max-content;
    background-color: #ffffff;
    padding: 14px 28px;
    text-align: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.block button {
    font-family: inherit;
}

.error {
    text-align: center;
    width: 60%;
    border-radius: 10px;
    font-size: 17px;
    word-wrap: break-word;
    padding: 5px;
    color: #D8000C;
    background-color: #FFD2D2;
}


